body {
	background: #5a615a;
	text-align:center;
	font-family:'Helvetica Neue', 'Helvetica', 'arial', sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	background-image:url('noise.png');
}

#container {
	margin:0;
	display:inline-block;
}

#game{
	display:inline-block;
	font-size:1em;
}
#sudoku {
	background:#aaa;
	float:left;
	margin: 20px auto;
	padding:2px;
	overflow:hidden;
	cursor:default;
}

.big {
	font-size:1em;
	background:#888;
	float:left;
	margin:2px;
	text-align:left;
	position:relative;
}

.small {
	width:3em;
	margin:1px;
	line-height:3;
	background:#fff;
	float:left;
	text-align:center;
	font-size:1em;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	-webkit-transition: background-color 2000ms linear;
     -moz-transition: background-color 2000ms linear;
     -o-transition: background-color 2000ms linear;
     -ms-transition: background-color 2000ms linear;
     transition: background-color 2000ms linear;

}
.value .tiny{
	z-index:-1;
}
.tiny {
	width:1em;
	height:1em;
	line-height:1;
	font-size:1em;
	float:left;	
	text-align:center;
	cursor:default;
	color:#b1b2ba;
	font-weight:100;
	position:relative;
	z-index:1;
}
.tiny.hidden{
	1color:transparent;
	visibility: hidden;
}

.small:nth-child(4), .small:nth-child(7), .big:nth-child(4), .big:nth-child(7), .tiny:nth-child(4), .tiny:nth-child(7){
	clear:left;
}

.valid-possible {
	font-weight: bolder;
}

.invalid-possible{
	1color:red;
	visibility: hidden;
}

/* ** CONTROLS ** */

#controls {
	padding: .5em 1em 1em 1em;
	margin:0;
	float:left;
	max-width: 1040px;
	text-align:center;
	background:rgba(255,255,255,.1);
	border-radius:0 0 10px 10px;
}

.highlight {
	background:#FFA07A;
	1background:#ff3300;
	background:#faa !important;
	-webkit-transition: background-color 1ms linear;
	-moz-transition: background-color 1ms linear;
	-o-transition: background-color 1ms linear;
	-ms-transition: background-color 1ms linear;
	transition: background-color 1ms linear;
	}
.highlight > .game-value{
	background:inherit;
}
.lowlight{
	1background-color: rgba(255,0,0,.2);
	background-color: #faa;

}
fieldset{
	float:left;
	max-width:200px;
	height:80px;
	padding:.25em 1em;
	border:1px solid #333;
	border-radius: 4px;
	font-size:.75em;
	color:#eee;
}
#controls legend{
	color:#fff;
	line-height:2;
	padding:0 1em;
	background-color:#333;
	font-size:1em;
	border-radius:3px;
}
label {
	1font-size:1.2em;
	1line-height:1.5;
	color:#ccc;
	1letter-spacing:1px;
	1display:block;
	background:#444;
	1margin-bottom:.5em;
}
.small-label {
	font-size:12px;
	line-height:12px;
	letter-spacing:0px;
}
input[type="text"] {
	width:30px;
	text-align:right;
}
#values {
	text-align:right;
}
#numofmoves {width:50px;}

#sudoku input[type="text"].edit-txt{
	display:block;
	width:100%;
	height:100%;
	border:none;
	background:#ffc;
	margin:0;
	padding:0;
	box-shadow:0px 0px 10px #333;
	position:absolute;
	text-align: center;
}

.entered-value > .value{
	color:#f80;
	background:#fff;
	z-index:10;
	-webkit-transition: background-color 1000ms linear;
     -moz-transition: background-color 1000ms linear;
     -o-transition: background-color 1000ms linear;
     -ms-transition: background-color 1000ms linear;
     transition: background-color 1000ms linear;

}

.game-value > .value{
	color:#fff;
	display:block;
	1width:99%;
	1height:99%;
	background:#333;
	background:#ddd;
	color:#333;
	z-index:10;
	position:absolute;
	1box-shadow:1px 1px 1px #000;
}
.value{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
}

.empty-value{
	z-index:0;
}