body {
	background: #333;
}

#container {
	width:700px;
	1min-height:700px;
	margin: 0 auto;
	1overflow:hidden;
}

#sodoku {
	background:#aaa;
	float:left;
	1width:480px;
	1height:480px;
	margin: 20px auto;
	padding:2px;
	overflow:hidden;
	cursor:default;
	1overflow:hidden;
}

.big {
	width:156px;
	1height:156px;
	background:#888;
	float:left;
	margin:1px;
	position:relative;
	text-align:left;
}

.small {
	width:50px;
	height:48px;
	margin:1px;
	line-height: 50px;	
	background:#fff;
	float:left;
	text-align:center;
	font-size:30px;
	cursor:pointer;
	1overflow:hidden;
}
.tiny {
	width:16px;
	height:15px;
	line-height:15px;
	font-size:10px;	
	float:left;	
	text-align:center;
	cursor:default;
	
}

#big-3, #big-6, #small-3, #small-6 {
	clear:both;
}

.valid-possible {
	font-weight: bolder;
}

.invalid-possible{
	display:none;
}

/* ** CONTROLS ** */

#controls {
	padding: 0 2px;
	float:left;
	width: 200px;
	text-align:center;
}

.highlight {
	background:#FFA07A;
}

label {
	font-size:15px;
	line-height:15px;
	color:#aaa;
	letter-spacing:1px;
}
.small-label {
	font-size:12px;
	line-height:12px;
	letter-spacing:0px;
}
input[type="text"] {
	width:30px;
	text-align:right;
}
#values {
	text-align:right;
}
#numofmoves {width:50px;}